html {
  height: 100%;
  min-height: 100%;
}

#mapContainer{
  max-width: 100000px;
  padding: 0;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 70%;
  }
}

#map{
  width: 100%;
}

.white-icon{
  color:#FFF;
}

.title{
  font-weight: 600;
}

.result-element{
  background-color: #f9f9f9;
  border-radius: 5%;
  border: 5px solid rgba(255, 255, 255, 1);
}

.result-element:hover{
  cursor: pointer;
}

.result-element div{
  padding: 0;
  border: 0;
  margin: 0;
}

.result-element .tag-icon {
  margin-top: 10px;
}

/* #popupContent{
  max-height:300px;
  overflow:scroll;
} */

input[type="color"]{
  width:100%;
  padding:0;
  border:0;
  border-right: 10px solid white;
}

.layerControlHolder{
  margin-top:-20px;
  margin-left:20px;
}

.layerControlHolder div{
  padding: 0px;
}

.map-text-button{
  background: rgb(57, 60, 62);
  cursor: pointer;
  width: 200px;
  height: 30px;
  color: #FFF;
  border: 0;
  font-weight: 600;
}

.leaflet-left{
  max-width: 30%;
}

#myRange {
  display: inline-flex;
}
